body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.rectangle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #2a251f; /* Adjust the background color as needed */
  border-bottom-right-radius: 40px;
  background: linear-gradient(90deg, #2a251f 50%, white 50%);
}
.overlay {
  position: flex;
  color: #fff; /* Adjust the text color as needed */
  display: flex;
  height: 93px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

/* navbar start*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #2A251F; Adjust the background color as needed */
  background: linear-gradient(90deg, #2a251f 50%, white 50%);
}
.logo {
  max-width: 20%;
  height: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.logo-image {
  width: 100%;
  height: auto;
}
.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  transition: color 0.2s ease;
}
.main-item-text:hover {
  color: #ffc220;
}

/* social handles */
.social-handle-cover {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.social-icon {
  height: 37px;
  width: 37px;
  background-color: #ffc220;
  border-radius: 50%;
  color: #333; /* Adjust the icon color as needed */
  padding: 0.5rem;
  transition: color 0.2s ease;
}
.social-icon:hover {
  color: #fff;
}
li {
  list-style: none;
  margin: 0 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
/* social handles */
/* Contact US */
.contact {
  background-color: #ffc220;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-right: 4px;
  padding: 0.5rem 1rem;
}
.contact-icon {
  height: 30px;
  width: 30px;
  color: #333;
}

.contact-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
  width: fit-content;
}
.contact-text p {
  margin: 0;
}

/* Navbar end */

.hero-image-box {
  position: flex;
  text-align: center;
  width: 100%;
}
.hero-img {
  /* width: 1370px;  */
  height: auto;
  width: 90%;
}

/* about */
.about {
  /* position: flex; */
  display: flex;
  height: fit-content;
  width: 100%;
  margin-top: 50px;
}
.content {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
}
.about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-right: 210px;
  text-align: justify;
  line-height: 30px;
  color: #fff;
}
.about-heading-one {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #ffffff;
  margin: 0;
}
.about-heading-two {
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 0px;
}
.underline {
  height: 5px;
  width: 563px;
}
.about-content {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  text-align: justify;
}
.about-btn {
  width: 180px;
  height: 55px;
  background-color: #ffc220;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.ref-image {
  position: relative;
}

.main-icon-box {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  height: 571px;
  gap: 35px;
  margin-right: 2rem;
}

.about-map {
  height: 703px;
  width: 100%;
  /* Add any other styles you need for the map */
}

.main-icon {
  width: 330px;
  height: 260px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-top: 10px;
}

.about-icon-img {
  width: 100px;
  height: 100px;
}

.about-icon-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  /* color: #2A251F; */
  margin-bottom: 0px;
  margin-top: 5px;
}

.about-icon-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 17px;
  line-height: 27px;
  color: #2a251f;
  margin-bottom: 0px;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
}

/* WHat we do */
.what-we-do {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
/* left */
.wd-img-box {
  grid-column: span 1 / span 1;
  width: 100%;
}
.wd-img {
  width: 100%;
  height: auto;
}
/* right */
.wd-content-box {
  grid-column: span 1 / span 1;
  width: 100%;
  padding: 1.5rem;
  height: fit-content;
}
.wda-img {
  width: 590px;
  height: 722px;
}
.wd-content {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.wd-content-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
}
.wd-content-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  text-align: justify;
  margin-top: 20px;
}

/* journey */
.journey {
  position: relative;
  display: flex;
  height: fit-content;
  width: 100%;
  margin-top: 0px;
}
.journey-box {
  position: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.journey-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #ffffff;
  margin-bottom: 40px;
  color: #000000;
}
.journey-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.journey-icon {
  width: 300px;
  height: 168px;
  background-color: #fff;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  display: flex;
  text-align: center;
  align-items: center;
}
.j-icon {
  height: 93px;
  width: 93px;
  background-color: #ffc220;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
.j-ficon {
  height: 64px;
  width: 64px;
  padding: 0.5rem;
  background-color: #ffc220;
  border-radius: 50%;
  margin-top: 15px;
}
.j-content-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #1e1e1e;
  margin-bottom: 0px;
  margin-top: 5px;
}

.j-content-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 200px;
  justify-content: center;
  text-align: center;
}
.journey-text-box {
  text-align: center;
  width: 70%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.journey-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
}
/* project */
.project-container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 60px;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: fit-content;
}

.each-slide-effect .slide-radial {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.019) 0%,
    rgba(0, 0, 0, 0.607) 0%,
    #000000f3 100%
  );
  border: 1999px;
}

.each-slide-effect .slide-content {
  padding: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.each-slide-effect .slide-name {
  padding: 20px;
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.63) 63.79%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.each-slide-effect .slide-name div {
  text-decoration: underline;
  text-decoration-color: #aaaaaa;
  font-size: 2.5rem;
}

.each-slide-effect .slide-desc {
  color: #aaaaaa;
  width: 60%;
  font-size: 1.25rem;
  font-weight: normal;
}

.each-slide-effect .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: normal;
  border-radius: 10px;
  border: 5px solid var(--Primary-color, #ffc220);
}

.indicators {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: min-content;
  margin-top: 0;
  padding-inline-start: 0;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  background: #484848;
  color: transparent;
}

.indicator.active {
  background: #d9d9d9;
  outline: 0;
}

.react-slideshow-container button[class^='nav'] {
  display: none;
}
/* events */
.slick-slide > div {
  margin: 0 10px;
  height: 100%;
}
.slick-arrow {
  background-color: rgb(103, 95, 95) !important;
  border-radius: 10rem !important;
}
.slick-arrow:hover {
  color: black !important;
}
.events-bg {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  background-image: url('https://s3-alpha-sig.figma.com/img/f2ff/7fb7/3620fa379aeb09d3d20243b2c72ff945?Expires=1705276800&Signature=JBNOhX-bQiCdmHkyEpCF2TWg76OAsaZpEO5b0hB1Bfq7VNQAL5QCieNdbUieX9zp5Q0YP~RtPbQiNZp5KrqbJtMdb52GC7SC-6kSQB9r6174pvWs8ixCSzfnem0dAbwhw1FRxJyvsHBqMdUN6zICOj0CIo2CMmqOGTHq-obbEqHlavXYz7gEgiIr~QQzgkHGZFwm4EU6eczO5X5viJXGatJylToTqaeGJd5~0VG8jBzC4krQ3rgG-PsdUoD0Dt6D-HMeWJ9A77Kk-5USUKLH87lxOjVogWD0as7-r0tFQ3BwCoaLz5wKbNpPc3SoMjTm-Mp8Y208DVu2jsPGeIg-Sw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}

.events-head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.events-head-content {
  color: black;
  font-weight: 700;
  font-size: 4rem;
}

.events-carousel-container {
  padding: 3rem;
}

.events-slider-container {
  margin: 1rem;
}

.events-card {
  display: flex;
  border-radius: 100px;
  width: 10%;
  height: 700px;
}

.events-card > div {
  background-size: cover;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.events-card-content {
  padding: 5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.slide-linear {
  display: flex;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.72) 45.93%,
    #000 100%
  );
}

.events-card-name {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.63) 63.79%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 2rem;
  background-color: #2a251f;
  color: #fff;
}
.enact-img-box {
  display: flex;
  justify-content: center;
  padding-right: 35px;
}
.footer-logo {
  width: 150px;
  height: 120px;
  align-items: center;
}

.v-line {
  height: auto;
  width: 1px;
  background-color: #fff;
  margin: 0 20px;
}
.enact-span {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.enact-span-small {
  color: #ffc220;
}
.enact-text {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
}
.quick-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.qlinks {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.qlink-head {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: justify;
  margin-bottom: 40px;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.add-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-img {
  width: 100%;
}
.add-head {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: justify;
  margin-bottom: 40px;
}
.add-name {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.add-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
/* Team */
.css-1qzevvg {
  position: absolute !important;
  top: 50% !important;
  /* display: flex !important; */
  justify-content: space-between !important;
  width: 100vh !important;
}
/* Team.css */

/* Adjust the positioning of the arrows */
/* Team.css */

/* Adjust the positioning of the arrows */
.react-spring-3d-carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.react-spring-3d-carousel-nav button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Ensure both arrows are visible */
.react-spring-3d-carousel-nav .left-arrow,
.react-spring-3d-carousel-nav .right-arrow {
  display: inline-block;
}

.react-spring-3d-carousel-nav .left-arrow {
  margin-left: 10px; /* Adjust the margin as needed */
}

.react-spring-3d-carousel-nav .right-arrow {
  margin-right: 10px; /* Adjust the margin as needed */
}
